.admonition>table {
 border-collapse:separate;
 border:0;
 background:none;
 width:100%
}

.admonition>table td.content {
  padding: 1.25em;
  border-left: 2px solid #ddd;
  color: rgba(0,0,0,0.6);
}

.admonition>table td.icon {
  padding: 5px 0 5px 1.25em;
  width: 48px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.admonition>table td.note {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMzEyIDMyMGgxMzZWNTZjMC0xMy4zLTEwLjctMjQtMjQtMjRIMjRDMTAuNyAzMiAwIDQyLjcgMCA1NnY0MDBjMCAxMy4zIDEwLjcgMjQgMjQgMjRoMjY0VjM0NGMwLTEzLjIgMTAuOC0yNCAyNC0yNHptMTI5IDU1bC05OCA5OGMtNC41IDQuNS0xMC42IDctMTcgN2gtNlYzNTJoMTI4djYuMWMwIDYuMy0yLjUgMTIuNC03IDE2Ljl6IiBzdHlsZT0iZmlsbDojZmZmZjk5O2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.tip {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMjU2IDhDMTE5LjA0MyA4IDggMTE5LjA4MyA4IDI1NmMwIDEzNi45OTcgMTExLjA0MyAyNDggMjQ4IDI0OHMyNDgtMTExLjAwMyAyNDgtMjQ4QzUwNCAxMTkuMDgzIDM5Mi45NTcgOCAyNTYgOHptMCAxMTBjMjMuMTk2IDAgNDIgMTguODA0IDQyIDQycy0xOC44MDQgNDItNDIgNDItNDItMTguODA0LTQyLTQyIDE4LjgwNC00MiA0Mi00MnptNTYgMjU0YzAgNi42MjctNS4zNzMgMTItMTIgMTJoLTg4Yy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDEydi02NGgtMTJjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ2LTI0YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoNjRjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYxMDBoMTJjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNHoiIHN0eWxlPSJmaWxsOiMwMDY2ZmY7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4=) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.warning {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48cGF0aCBkPSJNNTY5LjUxNyA0NDAuMDEzQzU4Ny45NzUgNDcyLjAwNyA1NjQuODA2IDUxMiA1MjcuOTQgNTEySDQ4LjA1NGMtMzYuOTM3IDAtNTkuOTk5LTQwLjA1NS00MS41NzctNzEuOTg3TDI0Ni40MjMgMjMuOTg1YzE4LjQ2Ny0zMi4wMDkgNjQuNzItMzEuOTUxIDgzLjE1NCAwbDIzOS45NCA0MTYuMDI4ek0yODggMzU0Yy0yNS40MDUgMC00NiAyMC41OTUtNDYgNDZzMjAuNTk1IDQ2IDQ2IDQ2IDQ2LTIwLjU5NSA0Ni00Ni0yMC41OTUtNDYtNDYtNDZ6bS00My42NzMtMTY1LjM0Nmw3LjQxOCAxMzZjLjM0NyA2LjM2NCA1LjYwOSAxMS4zNDYgMTEuOTgyIDExLjM0Nmg0OC41NDZjNi4zNzMgMCAxMS42MzUtNC45ODIgMTEuOTgyLTExLjM0Nmw3LjQxOC0xMzZjLjM3NS02Ljg3NC01LjA5OC0xMi42NTQtMTEuOTgyLTEyLjY1NGgtNjMuMzgzYy02Ljg4NCAwLTEyLjM1NiA1Ljc4LTExLjk4MSAxMi42NTR6IiBzdHlsZT0iZmlsbDojZmY5OTAwO2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.caution {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBkPSJNMjE2IDIzLjg1OGMwLTIzLjgwMi0zMC42NTMtMzIuNzY1LTQ0LjE0OS0xMy4wMzhDNDggMTkxLjg1MSAyMjQgMjAwIDIyNCAyODhjMCAzNS42MjktMjkuMTE0IDY0LjQ1OC02NC44NSA2My45OTRDMTIzLjk4IDM1MS41MzggOTYgMzIyLjIyIDk2IDI4Ny4wNDZ2LTg1LjUxYzAtMjEuNzAzLTI2LjQ3MS0zMi4yMjUtNDEuNDMyLTE2LjUwNEMyNy44MDEgMjEzLjE1OCAwIDI2MS4zMzIgMCAzMjBjMCAxMDUuODY5IDg2LjEzMSAxOTIgMTkyIDE5MnMxOTItODYuMTMxIDE5Mi0xOTJjMC0xNzAuMjktMTY4LTE5My4wMDMtMTY4LTI5Ni4xNDJ6IiBzdHlsZT0iZmlsbDojY2MwMDAwO2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.important {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA0IDI1NmMwIDEzNi45OTctMTExLjA0MyAyNDgtMjQ4IDI0OFM4IDM5Mi45OTcgOCAyNTZDOCAxMTkuMDgzIDExOS4wNDMgOCAyNTYgOHMyNDggMTExLjA4MyAyNDggMjQ4em0tMjQ4IDUwYy0yNS40MDUgMC00NiAyMC41OTUtNDYgNDZzMjAuNTk1IDQ2IDQ2IDQ2IDQ2LTIwLjU5NSA0Ni00Ni0yMC41OTUtNDYtNDYtNDZ6bS00My42NzMtMTY1LjM0Nmw3LjQxOCAxMzZjLjM0NyA2LjM2NCA1LjYwOSAxMS4zNDYgMTEuOTgyIDExLjM0Nmg0OC41NDZjNi4zNzMgMCAxMS42MzUtNC45ODIgMTEuOTgyLTExLjM0Nmw3LjQxOC0xMzZjLjM3NS02Ljg3NC01LjA5OC0xMi42NTQtMTEuOTgyLTEyLjY1NGgtNjMuMzgzYy02Ljg4NCAwLTEyLjM1NiA1Ljc4LTExLjk4MSAxMi42NTR6IiBzdHlsZT0iZmlsbDojY2MwMDAwO2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.idea {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBkPSJNMjcyIDQyOHYyOGMwIDEwLjQ0OS02LjY4IDE5LjMzNC0xNiAyMi42MjlWNDg4YzAgMTMuMjU1LTEwLjc0NSAyNC0yNCAyNGgtODBjLTEzLjI1NSAwLTI0LTEwLjc0NS0yNC0yNHYtOS4zNzFjLTkuMzItMy4yOTUtMTYtMTIuMTgtMTYtMjIuNjI5di0yOGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDEzNmM2LjYyNyAwIDEyIDUuMzczIDEyIDEyem0tMTQzLjEwNy00NGMtOS45MDcgMC0xOC44MjYtNi4wNzgtMjIuMzc2LTE1LjMyN0M2Ny42OTcgMjY3LjU0MSAxNiAyNzcuNzMxIDE2IDE3NiAxNiA3OC44MDMgOTQuODA1IDAgMTkyIDBzMTc2IDc4LjgwMyAxNzYgMTc2YzAgMTAxLjczMS01MS42OTcgOTEuNTQxLTkwLjUxNiAxOTIuNjczLTMuNTUgOS4yNDktMTIuNDcgMTUuMzI3LTIyLjM3NiAxNS4zMjdIMTI4Ljg5M3pNMTEyIDE3NmMwLTQ0LjExMiAzNS44ODgtODAgODAtODAgOC44MzcgMCAxNi03LjE2NCAxNi0xNnMtNy4xNjMtMTYtMTYtMTZjLTYxLjc1NyAwLTExMiA1MC4yNDMtMTEyIDExMiAwIDguODM2IDcuMTY0IDE2IDE2IDE2czE2LTcuMTY0IDE2LTE2eiIgc3R5bGU9ImZpbGw6I2VjZWMzMDtmaWxsLW9wYWNpdHk6MSIvPjwvc3ZnPg==) no-repeat left center;
  background-size: 40px;
}

.admonition>table td.reminder {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNNDMzLjg4NCAzNjYuMDU5QzQxMS42MzQgMzQzLjgwOSAzODQgMzE2LjExOCAzODQgMjA4YzAtNzkuMzk0LTU3LjgzMS0xNDUuMjY5LTEzMy42NjMtMTU3LjgzQTMxLjg0NSAzMS44NDUgMCAwIDAgMjU2IDMyYzAtMTcuNjczLTE0LjMyNy0zMi0zMi0zMnMtMzIgMTQuMzI3LTMyIDMyYzAgNi43NSAyLjA5NSAxMy4wMDggNS42NjMgMTguMTdDMTIxLjgzMSA2Mi43MzEgNjQgMTI4LjYwNiA2NCAyMDhjMCAxMDguMTE4LTI3LjY0MyAxMzUuODA5LTQ5Ljg5MyAxNTguMDU5Qy0xNi4wNDIgMzk2LjIwOCA1LjMyNSA0NDggNDguMDQ4IDQ0OEgxNjBjMCAzNS4zNDYgMjguNjU0IDY0IDY0IDY0czY0LTI4LjY1NCA2NC02NGgxMTEuOTQzYzQyLjYzOCAwIDY0LjE1MS01MS43MzEgMzMuOTQxLTgxLjk0MXpNMjI0IDQ3MmE4IDggMCAwIDEgMCAxNmMtMjIuMDU2IDAtNDAtMTcuOTQ0LTQwLTQwaDE2YzAgMTMuMjM0IDEwLjc2NiAyNCAyNCAyNHoiIHN0eWxlPSJmaWxsOiNmZmMxNDQ7ZmlsbC1vcGFjaXR5OjEiLz48L3N2Zz4NCg==) no-repeat left center;
  background-size: 40px;
}
